@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');



body{
    background-color:antiquewhite;
    
}

*{
    margin: 0;
    padding: 0;
}

nav{
    font-family: 'Montserrat', sans-serif;
}

nav ul{
    display: flex;
    list-style-type: none;
    height: 70px;
    background-color: black;
    color: white;
    align-items: center;
}

nav li{
    padding: 0 12px;
}
.brand img{
    width: 45px;
    padding: 0 8px;
}

.brand{
    display: flex;
    align-items:center;
    font-weight: bolder;
    font-size: 1.3em;
}